<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>Feedback</title>
  </head>
  <body>
    <div class="main-content">
      <form action="/submit" method="POST">
        <p>1. How was your exprience</p>
        <input name="question1" />
        <p>2. Please give rating out of 5.</p>
        <input name="question2" />
        <p>3. Would you recommend us to anyone?</p>
        <input name="question3" />

        <div class="button">
          <button>Submit</button>
        </div>
      </form>
    </div>
    <script src=""></script>
  </body>
</html>