body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

.main-content {
  flex-grow: 1;
}

#title {
  font-size: 2rem;
  font-weight: bold;
}

form div {
  display: flex;
}

input {
  min-width: 80%;
  font-size: 1.5rem;
  padding: 0.5rem;
  outline: none;
  padding-right: 2rem;
}

button {
  min-width: 20%;
  min-height: 100%;
  width: 50%;
  font-size: 1.2rem;
  background-color: aliceblue;
  border: 1px solid blue;
  cursor: pointer;
}

#location {
  font-size: 2rem;
}

#forecast {
  font-size: 2rem;
}
